body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}





#d {
text-align: center;
font-family: cursive;
color: brown;

}



#h {
    color: black;
}